<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API-Proxy" stopProcessing="true">
          <match url="^v1/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/v1/{R:1}" />
        </rule>
        <rule name="Socket-Proxy" stopProcessing="true">
          <match url="^socket.io/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/socket.io/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
